input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: monospace;
}

label {
    padding: 9px 9px 9px 0;
    display: inline-block;
    font-family: monospace;
}

header {
    text-align: left;
    padding: 5px;
    font-size: 20px;
    font-family: monospace;
}

button {
    font-family: monospace;
    background-color: #D5DBDB;
    padding: 5px;
    font-size: 13px;
}

body {
    color: black;
    background-color: lightslategray;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}